.home_header {
  display: flex;
  position: fixed;
  z-index: 2;
  width: calc(100% - 16px);
  align-items: center;
  align-self: stretch;
  margin-inline: 8px;
  margin-block: 12px;
  padding-inline: 12px;
  padding-block: 8px;
  border-radius: 8px;
}

/* .home_card:active {
  filter: brightness(0.7);
} */
