.google_button {
  background-color: #3f7ee8;
  padding-inline: 12px;
  padding-block: 10px;
  border-radius: 8px;
  color: var(--ion-color-medium);
}

.github_button {
  background-color: #000000;
  padding-inline: 12px;
  padding-block: 10px;
  border-radius: 8px;
  color: var(--ion-color-medium);
}

.custom_input {
  border: 2px solid var(--ion-color-medium);
  border-radius: 8px;
  margin-bottom: 12px;
}

.custom_input:focus {
  border-color: var(--ion-primary-color);
}
