*::-webkit-scrollbar {
  display: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.touch_opacity:active {
  filter: brightness(0.7);
}

ion-select::part(placeholder) {
  color: var(--ion-color-dark);
  opacity: 1;
}
